[Unit]
Description=Spb Drawbridges APRS Reporter
After=network-online.target

[Service]
Type=oneshot
DynamicUser=yes
EnvironmentFile=/etc/sysconfig/spb-drawbridges-aprs-reporter
ExecStart=/opt/spb-drawbridges-aprs-reporter/spb-drawbridges-aprs-reporter $DRAWBRIDGES_ARGS
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=yes
TimeoutStartSec=1min

[Install]
WantedBy=multi-user.target
