[Unit]
Description=SPb Drawbridges APRS Reporter
After=network-online.target

[Service]
Type=oneshot
DynamicUser=yes
EnvironmentFile=/etc/sysconfig/spb-drawbridges-aprs-reporter
ExecStart=/opt/spb-drawbridges-aprs-reporter/spb-drawbridges-aprs-reporter --mostotrest-api-s $MOSTOTREST_API_S --callsign $CALLSIGN --aprsis-server $APRSIS_SERVER --aprsis-port $APRSIS_PORT
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=yes
TimeoutStartSec=1min

[Install]
WantedBy=multi-user.target
