[Unit]
Description=Run Spb Drawbridges APRS Reporter at night

[Timer]
OnCalendar=*-04..11-* 00..05:00,30:00
OnCalendar=*-03-* 01..05:00:00
RandomizedDelaySec=59s

[Install]
WantedBy=timers.target
